.container{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 20%;
}
.img{
    width: 40%;
    height: 60vh;
    display: flex;
}
.img img{
    border-radius: 5%;
}
.description{
    min-width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffaa;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2em 1px #ffffaa;
}