.container {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 4.5em;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
}

.title {
  text-decoration: none;
  color: #ffffaa;
  font-size: 1.7em;
  margin-left: 3%;
  transition: transform 0.4s ease;
}

.title:hover {
  transform: scale(1.4);
}

.searchBar {
  position: absolute;
  right: 10%;
}

.random {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.random .btn {
  background-color: #ffffaa;
  border: 1px solid #ffffaa;
  background-image: url(../../assets/images/random.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  height: 4em;
  width: 4em;
  transition: transform 0.4s ease;
}

.random .btn:hover {
  transform: scale(1.4);
}

.iconHome {
  font-size: 1.7em;
}

.iconStar {
  font-size: .5em;
}

.iconLogout {
  font-size: 2em;
  position: absolute;
  right: 1em;
  color: #ffffaa;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.iconLogout:hover {
  transform: scale(1.4);
}