.card {
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    position: relative;
    background-color: #000;
}

.card_favorite {
    background-color: #ffffaa;
}

.card:hover {
    box-shadow: 0 0 30px #ffffaa;
}

.card:hover .details {
    height: 20%;
    width: 100%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: #ffffaade;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.card .details {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.0s ease;
}

.avatar {
    width: 90%;
    height: 90%;
    margin: 5%;
    border-radius: 5%;
    object-fit: cover;
    opacity: .7;
    box-shadow: 0px 0px 10px 10px #000000d9;
}

.card:hover .avatar {
    opacity: 1;
}
.avatar_fav{
    opacity: 1;
}

.name {
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #000000;
    color: #000;
    font-weight: bolder;
}

.card .btn_close {
    position: absolute;
    right: 0px;
    padding: 1px 5px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #000;
    color: #ffffaa;
    cursor: pointer;
    font-size: large;
}

.card .btn_close_fav {
    color: #000;
    border: 2px solid #ffffaa;
    background-color: #ffffaa;
    font-weight: bold;
}


.card .btn:hover {
    background-color: #ffffaa;
    color: #000;
}

.textLink {
    text-decoration: none;
    color: #ffffaa;
}

.btn_star_off {
    position: absolute;
    left: 0px;
    padding: 1px 5px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #000;
    color: #ffffaa;
    cursor: pointer;
    font-size: large;
}

.btn_star_on {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 1px 5px;
    border: 2px solid #ffffaa;
    border-radius: 50%;
    background-color: #ffffaa;
    color: #000;
    cursor: pointer;
    font-size: large;
}

.btn_star {
    animation: star 1s forwards
}

@keyframes star {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
        transform: translateY(-2em);
    }

    100% {
        opacity: 1;
    }
}