.container {
    display: flex;
    height: 75vh;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 10%;
}

.img {
    width: 25%;
    height: 60vh;
    display: flex;
    background-image: url('../../assets/images/profile-henry.png');
    background-color: #ffff01;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    z-index: 1;

}
.description {
    width: 75%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2em 1px #ffffaa;
    color: #ffffaa;
    text-align: center;
}
.card_container {
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(10em, 5px));
    gap: 25px;
}

