.card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #fefdc4; */
    border-radius: 5%;
    position: relative;
}

.card:hover .details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: #1c3d1c;
    transition: opacity 0.7s ease;
    opacity: 1;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.0s ease;
}

.avatar {
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.name {
    font-size: 2em;
    text-align: center;
    margin: 10% 0;
    border-bottom: 2px solid #ffffaa;
}

.bio {
    font-size: larger;
    margin: auto 10%;
}

.card .btn {
    position: absolute;
    right: 0px;
    padding: 1px 5px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #000;
    color: #ffffaa;
    cursor: pointer;
}

.card .btn:hover {
    background-color: #ffffaa;
    color: #000;
}

.textLink{
    text-decoration: none;
    color: #ffffaa;
}
.card .btn_fav{
    position: absolute;
    left: 0px;
    padding: 1px 5px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #000;
    color: #ffffaa;
    cursor: pointer;
}