.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d8df4c;
    border-radius: 5%;
    padding: 5%;
    background-color: #d8df4c;
}

.avatar {
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
}

.name {
    font-size: 2em;
    text-align: center;
    margin-top: 0;
}

.bio {
    margin-top: auto;
}