.input {
    padding: 8px;
    width: 7em;
    border: 1px solid #ffffaa;
    border-radius: 4px;
    margin-right: .3em;
    transition: border-color 0.3s ease;
    background-color: #ffffaa;
}

.input:focus {
    outline: none;
    border-color: #036902;
    box-shadow: 0 0 5px 1px #036902;
}

.btn {
    padding: 8px 10px;
    background-color: #036902;
    color: #ffffaa;
    border: 1px solid #00000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: #036902;
    color: #ffffaa;
    box-shadow: 0 0 5px 1px #ffffaa;
}