.input {
    padding: 8px;
    width: 108px;
    border: 1px solid #ffffaa;
    border-radius: 4px;
    margin-right: 5px;
    transition: border-color 0.3s ease;
    background-color: #ffffaa;
}

.input:focus {
    outline: none;
    border-color: #036902;
}

.btn {
    padding: 8px 16px;
    background-color: #036902;
    border: 1px solid #036902;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: #036902;
    background-color: #000000;
    border: 1px solid #036902;
}