.input {
    padding: 8px;
    width: 108px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    transition: border-color 0.3s ease;
}

.input:focus {
    outline: none;
    border-color: #1d8e51;
}

.btn {
    padding: 8px 16px;
    background-color: #1d8e51;
    border: 1px solid #1d8e51;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: #1d8e51;
    background-color: #000000;
    border: 1px solid #1d8e51;
}