.container{
    display: flex;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.form {
    color: #ffffaa;
    min-height: 75vh;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5%;
}

.title {
    font-size: 2.5em;
}

.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
}

.label {
    font-size: 1.5em;
    margin: 2% 0;
}

.input {
    width: 100%;
    height: 2em;
    background-color: black;
    color: #ffffaa;
    border: 1px solid rgb(1, 43, 1);
}
.input:focus{
    outline-style: double;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.473);
}

.errors {
    height: 1.5em;
    color: #ff0000;
    margin-bottom: 10%;
}

.btn {
    height: 2em;
    width: 50%;
    cursor: pointer;
    font-size: 1em;
    background-color: #ffffaa;
    color: black;
    border-radius: 5px;
}
.btn:disabled{
    cursor: not-allowed;
    opacity: 0.2;
}
.btn:hover {
    background-color: black;
    border: 1px solid #ffffaa;
    color: #ffffaa;
}