.container {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
}

.title {
  text-decoration: none;
  color: #ffffaa;
  font-size: 2em;
  font-weight: bold;
  margin-left: 3%;
}


.searchBar {
  position: absolute;
  right: 15%;
}

.logout{
  position: absolute;
  right: 2%;
}

.logout .btn{
  background-color: black;
  border: 1px solid #ffffaa;
  color: #ffffaa;
  cursor: pointer;
  height: 2.5em;
  width: 5em;
}