.container {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
}

.title {
  text-decoration: none;
  color: #ffffaa;
  font-size: 2em;
  font-weight: bold;
  margin-left: 3%;
  transition: transform 0.5s ease;
}

.title:hover {
  transform: scale(1.3);
}

.searchBar {
  position: absolute;
  right: 15%;
}

.logout {
  position: absolute;
  right: 1%;
}

.logout .btn {
  background-color: black;
  border: 1px solid #ffffaa;
  color: #ffffaa;
  cursor: pointer;
  height: 2.5em;
  width: 4em;
}

.logout .btn:hover {
  background-color: #ffffaa;
  color: black;
}

.random {
  position: absolute;
  right: 50%;
}

.random .btn {
  background-color: #ffffaa;
  border: 1px solid #ffffaa;
  background-image: url(../../assets/images/random.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  height: 4em;
  width: 4em;
  transition: transform 0.5s ease;
}

.random .btn:hover {
  transform: scale(1.3);
}