.container {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  /* padding: 1% 15%; */
  background-image: url(../../assets/images/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100px;
}

.title {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}